<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [93]:
import pandas as pd
import numpy as np

In [94]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [95]:
print(data[data['sex']=='Female'].shape[0])
data[data['sex']=='Male'].shape[0]

10771

21790

**2. Каков средний возраст (признак *age*) женщин?**

In [96]:
data[data['sex']=='Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [97]:
count_Germany=data[data['native-country']=='Germany'].shape[0]
print(count_Germany)
print(count_Germany/data.shape[0])
b=data['native-country']=='Germany'
b.value_counts()[1]

137
0.004207487485028101

137

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [98]:
menee50=data[data['salary']=='<=50K']["age"].describe()
bolee50=data[data['salary']=='>50K']["age"].describe()
print(menee50['mean'],menee50['std'])
print(bolee50['mean'],bolee50['std'])

36.78373786407767 14.020088490824813
44.24984058155847 10.51902771985177

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [101]:
bolee501=data[data['salary']=='>50K']
mas=[bolee501[bolee501['education']=="Bachelors"],bolee501[bolee501['education']=="Prof-school"],bolee501[bolee501['education']=="Assoc-acdm"]]
mas[0].shape[0]
for el,key in bolee501.groupby('education'):
    print(el," ",key.shape[0])
    
bolee501.groupby('education')[['age']].agg(np.median)

10th   62
11th   60
12th   33
1st-4th   6
5th-6th   16
7th-8th   40
9th   27
Assoc-acdm   265
Assoc-voc   361
Bachelors   2221
Doctorate   306
HS-grad   1675
Masters   959
Prof-school   423
Some-college   1387

               age
education
10th          51.5
11th          44.5
12th          44.0
1st-4th       52.5
5th-6th       50.0
7th-8th       55.0
9th           49.0
Assoc-acdm    40.0
Assoc-voc     41.0
Bachelors     42.0
Doctorate     48.0
HS-grad       45.0
Masters       45.0
Prof-school   44.0
Some-college  44.0

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [109]:
for el, datael in data.groupby(['race','sex']):
    if el[0]=="Amer-Indian-Eskimo" and el[1]=="Male":
        print(datael['age'].describe())

count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [115]:
dateMenSal=data[(data['sex']=="Male")&(data['salary']==">50K")]
countMaried=0
countNoMaried=0
for key,value in dateMenSal.groupby('marital-status'):
    if (key.find("Married")==-1):
        countNoMaried+=int(value.shape[0])
    else:
        countMaried+=int(value.shape[0])
print(countMaried, countNoMaried)

5965 697

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [118]:
for a,b in data.groupby('hours-per-week'):
    print(a, "-" ,b.shape[0])

1 - 20
2 - 32
3 - 39
4 - 54
5 - 60
6 - 64
7 - 26
8 - 145
9 - 18
10 - 278
11 - 11
12 - 173
13 - 23
14 - 34
15 - 404
16 - 205
17 - 29
18 - 75
19 - 14
20 - 1224
21 - 24
22 - 44
23 - 21
24 - 252
25 - 674
26 - 30
27 - 30
28 - 86
29 - 7
30 - 1149
31 - 5
32 - 266
33 - 39
34 - 28
35 - 1297
36 - 220
37 - 149
38 - 476
39 - 38
40 - 15217
41 - 36
42 - 219
43 - 151
44 - 212
45 - 1824
46 - 82
47 - 49
48 - 517
49 - 29
50 - 2819
51 - 13
52 - 138
53 - 25
54 - 41
55 - 694
56 - 97
57 - 17
58 - 28
59 - 5
60 - 1475
61 - 2
62 - 18
63 - 10
64 - 14
65 - 244
66 - 17
67 - 4
68 - 12
70 - 291
72 - 71
73 - 2
74 - 1
75 - 66
76 - 3
77 - 6
78 - 8
80 - 133
81 - 3
82 - 1
84 - 45
85 - 13
86 - 2
87 - 1
88 - 2
89 - 2
90 - 29
91 - 3
92 - 1
94 - 1
95 - 2
96 - 5
97 - 2
98 - 11
99 - 85

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [129]:
for el, datael in data.groupby(['native-country']):
    bog=datael[datael['salary']=="<=50K"]
    bed=datael[datael['salary']==">50K"]
    #print(bog['hours-per-week'].mean())
    print(el,"--",)
    print(bog['hours-per-week'].mean())
    print(bed['hours-per-week'].mean())

? --
40.16475972540046
45.54794520547945
Cambodia --
41.416666666666664
40.0
Canada --
37.91463414634146
45.64102564102564
China --
37.38181818181818
38.9
Columbia --
38.68421052631579
50.0
Cuba --
37.98571428571429
42.44
Dominican-Republic --
42.338235294117645
47.0
Ecuador --
38.041666666666664
48.75
El-Salvador --
36.03092783505155
45.0
England --
40.483333333333334
44.53333333333333
France --
41.05882352941177
50.75
Germany --
39.13978494623656
44.97727272727273
Greece --
41.80952380952381
50.625
Guatemala --
39.36065573770492
36.666666666666664
Haiti --
36.325
42.75
Holand-Netherlands --
40.0
nan
Honduras --
34.333333333333336
60.0
Hong --
39.142857142857146
45.0
Hungary --
31.3
50.0
India --
38.233333333333334
46.475
Iran --
41.44
47.5
Ireland --
40.94736842105263
48.0
Italy --
39.625
45.4
Jamaica --
38.23943661971831
41.1
Japan --
41.0
47.958333333333336
Laos --
40.375
40.0
Mexico --
40.00327868852459
46.57575757575758
Nicaragua --
36.09375
37.5
Outlying-US(Guam-USVI-etc) --
41.857142857142854
nan
Peru --
35.06896551724138
40.0
Philippines --
38.065693430656935
43.032786885245905
Poland --
38.166666666666664
39.0
Portugal --
41.93939393939394
41.5
Puerto-Rico --
38.470588235294116
39.416666666666664
Scotland --
39.44444444444444
46.666666666666664
South --
40.15625
51.4375
Taiwan --
33.774193548387096
46.8
Thailand --
42.86666666666667
58.333333333333336
Trinadad&Tobago --
37.05882352941177
40.0
United-States --
38.79912723305605
45.50536884674383
Vietnam --
37.193548387096776
39.2
Yugoslavia --
41.6
49.5